zodiac {
    canvas {
        width: calc(100vw - 32px) !important;
        height: calc(100vw - 32px) !important;
        max-height: calc(100vh - 80px);
        max-width: calc(100vh - 80px);
    }
}
