@media screen and (min-width: 768px) {
  page-event-detail {
    .main-content-areas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .main-content {
        max-width: 50%;
        flex-grow: 1;
      }

      .main-content.zodiac {
        max-width: 100%;
        min-width: 100%;
      }

      .retrograde-graph, .aspect-graph, .phase-chart {
        width: 100%;
        height: 100%;

        canvas {
          width: calc(50vw - 16px);
          height: calc(50vw - 16px);
        }
      }

      .phase-chart {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        phases {
          min-width: 100%;
          display: flex;
          align-items: stretch;
          justify-content: stretch;
          

          canvas {
            min-height: 100%;
            min-width: 100%;
          }
        }
      }
    }
  }
}

page-event-detail {
  background: $content-ios-outer-background;

  $animation-duration: 180ms;
  $animation-initial-delay: 340ms;
  $easing-function: ease;

  .main-content {
    animation: fadein ($animation-duration * 2) $easing-function ($animation-initial-delay + 200ms) both;
  }

  .scroll-content {
    background: black;
  }

  ion-header {

    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    
    .toolbar-background {
      background: none !important;
      border-bottom: none;
    }

    ion-navbar astro-description {
      font-size: 24px !important;
      font-weight: 400;
    }
  }

  .scroll-content {
    background: url('../assets/images/vector_backgrounds/neptune.svg') no-repeat, black;
    background-position: 50% 50%;
    background-size: cover !important;
  }

  ion-card-header {
    font-weight: 300 !important;
    font-size: 20px;
  }


  .toolbar-area {
    text-align: center;
    background-size: cover !important;
    
    display: flex !important;
    justify-content: center;
    
    .description-area {
      display: flex !important;
      align-items: center;
      flex: 1 0 auto;
      display: inline-block;
      margin: 0;
      margin-bottom: 23px;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 10px black;
      border-bottom-left-radius: 50vw  6px;
      border-bottom-right-radius: 50vw 6px;

      .text-area {
        margin: 0.5em;
        flex: 1 0 auto;
        text-align: center;

        .header-text-description {
          font-size: 20px;
          font-weight: 300;
          font-family: 'Slabo 27px';
        }
      }
    }

    .planet-image {
      margin: 8px -8px -8px 8px;
      width: 82px;
      height: 82px;
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-size: cover !important;
    }
  }

  .header-date {
    color: #444;
  }

  .header-duration {
    color: #888;
  }

  .currentPlanet {
    font-weight: 700;
  }

  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 50vw;
    margin: 16px 0;

    img {
      height: 50vw;
      width: auto;
      max-width: none;
      display: inline-block;
    }
  }

  h2 {
    color: color($colors, offlight);
  }

  .main-content {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 8px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .timeline-content {
    margin: 8px 6px;
    margin-top: 0;
  }

  .zodiac-aspects {
    h4 {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .position-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;

    .planetary-positions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 8px;
    }
  }

  // full width charts that have the same loading pattern
  .phase-chart {
    width: calc(100vw - 16px);
    height: calc(100vw - 16px);
  }

  .aspect-graph {
    width: calc(100vw - 16px);
    height: 50vw;
  }

  .retrograde-graph {
    width: calc(100vw - 16px);
    height: 50vw;
  }

  .phase-chart, .retrograde-graph, .aspect-graph {
    &.loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    phases canvas, retrograde-graph canvas {
      animation: fadein 180ms ease-in;
    }
  }

  .main-content.zodiac, .main-content.phases {
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 100%;
    canvas {
      border-radius: 100%;
    }
  }

  .main-content.phases {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    canvas {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .main-content.zodiac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: none;
    
    .zodiac-container {
      width: calc(100vw - 32px) !important;
      height: calc(100vw - 32px) !important;
      max-height: calc(100vh - 80px);
      max-width: calc(100vh - 80px);

      &.loading {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      zodiac canvas {
        animation: fadein 180ms ease-in;
      }
    }
  }
    
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}