<ion-header>
  <ion-navbar>
    <ion-title>
      <astro-description [event]="event"></astro-description>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openJournal()">
        <ion-icon name="bookmarks"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="event-detail-page-content">
  <div class="toolbar-area">
    <div class="description-area">
      <div class="planet-image" [style.background]="'url(assets/images/thumbnails/' + getDisplayPlanet() + '.png)'"></div>
      <div class="text-area">
        <div class="header-text-description">
          <astro-description [event]="event" [text]="true"></astro-description>
        </div>
        <div class="header-date">{{ date }} {{ time }}</div>
        <div *ngIf="eventDurationStr" class="header-duration">for {{ eventDurationStr }}</div>
      </div>
    </div>
  </div>

  <div class="timeline-content" *ngIf="timelineEvents">
    <sequential-events [events]="timelineEvents" [selectedEvent]="event" (eventSelected)="selectZodiacEvent($event)"></sequential-events>
  </div>

  <div class="main-content-areas">
    <div class="main-content zodiac">
      <div class="zodiac-container" [class.loading]="!viewEnterAnimationComplete">
        <div *ngIf="!viewEnterAnimationComplete">
          <ion-spinner></ion-spinner>
        </div>
        <zodiac
          *ngIf="viewEnterAnimationComplete && positions && (!showTransits || transits) && (!showHouses || houses)"
          [positions]="positions"
          [transits]="transits"
          [houses]="houses"
        ></zodiac>
      </div>
    </div>

    <div class="main-content" *ngIf="type === 'aspect'">
      <div class="aspect-graph" [class.loading]="!viewEnterAnimationComplete || !event">
        <ion-spinner *ngIf="!viewEnterAnimationComplete"></ion-spinner>
        <aspect-graph
          *ngIf="viewEnterAnimationComplete && event"
          [event]="event"
          [timelineEvents]="timelineEvents"
        ></aspect-graph>
      </div>
    </div>

    <div class="main-content phases" *ngIf="type === 'phase'">
      <div class="phase-chart" [class.loading]="!viewEnterAnimationComplete || !phaseEvents || !moonEvents">
        <ion-spinner *ngIf="!viewEnterAnimationComplete"></ion-spinner>
        <phases
          *ngIf="viewEnterAnimationComplete && phaseEvents && moonEvents"
          [phases]="phaseEvents"
          [moonEvents]="moonEvents"
          [date]="event.date"
        ></phases>
      </div>
    </div>

    <div class="main-content" *ngIf="type === 'retrograde'">
      <div class="retrograde-graph" [class.loading]="!viewEnterAnimationComplete">
        <ion-spinner *ngIf="!viewEnterAnimationComplete"></ion-spinner>
        <retrograde-graph
          *ngIf="viewEnterAnimationComplete && retrogradeEvent && directEvent"
          [retrogradeEvent]="retrogradeEvent"
          [directEvent]="directEvent"
        ></retrograde-graph>
      </div>
    </div>

    <div class="main-content" *ngIf="positions || transits">

      <div class="position-tables">
        <div class="zodiac-aspects" *ngIf="aspects && aspects.length && positions">
          <h4>Aspects</h4>
          <table>
            <tr class="aspect" *ngFor="let aspect of aspects">
              <td class="aspect-planet" [class.emphasize]="positions[aspect.indices[0]].planet == event.data.planet">
                <span class="planet">
                  <astro-item [planet]="positions[aspect.indices[0]].planet"></astro-item>
                </span>
              </td>
              <td class="aspect-symbol">
                <span class="aspect-symbol">
                  <astro-item [aspect]="aspect.aspect.name"></astro-item>
                </span>
              </td>
              <td class="aspect-planet" [class.emphasize]="positions[aspect.indices[1]].planet == event.data.planet">
                <span class="planet">
                  <astro-item [planet]="positions[aspect.indices[1]].planet"></astro-item>
                </span>
              </td>
              <td class="aspect-separation">
                ({{ round(aspect.separation) }}{{ aspect.applying ? 'A' : 'S' }})
              </td>
            </tr>
          </table>
        </div>
        <div class="planetary-positions">
          <positions [title]="showTransits ? 'Natal' : 'Positions'" [positions]="positions"></positions>
          <positions *ngIf="transits" title="Transits" [positions]="transits"></positions>
        </div>
      </div>

    </div>
  </div>

</ion-content>