date-select {
  .years, .months, .days {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    > div {
      padding: 2px 4px;
      margin-top: 4px;

      &.selected {
        font-weight: 700;
        border-bottom: 2px solid black;
      }
    }
  }
}