<section>
  <div class="years">
    <div *ngFor="let year of years" class="year" [class.selected]="date && date.getFullYear() === year" (click)="onChangeYear(year)">{{ year }}</div>
  </div>
  <div class="months" *ngIf="monthDisplayValues">
    <div *ngFor="let month of months" class="month" [class.selected]="date && date.getMonth() === month" (click)="onChangeMonth(month)">{{ monthDisplayValues[month] }}</div>
  </div>
  <div class="days">
    <div *ngFor="let day of days" class="day" [class.selected]="date && date.getDate() === day" (click)="onChangeDay(day)">{{ day }}</div>
  </div>
</section>