
<h4 *ngIf="title && positions">{{ title }}</h4>
<table class="planetary-positions" *ngIf="title && positions">
  <tr *ngFor="let planet of getPositionData()" [class.highlighted]="highlights.indexOf(planet.planet) !== -1">
    <td class="planet-sign-degree">
      <astro-item
        [sign]="planet.sign"
        [degree]="'' + planet.degree"
      ></astro-item>
    </td>
    <td class="planet-sign-minute">
      {{ planet.minute }}'
    </td>
    <td class="planet-symbol">
      <astro-item [planet]="planet.planet"></astro-item>
      <sub *ngIf="planet.retrograde === true">r</sub>
    </td>
    <td class="planet-text">
      <astro-item [planet]="planet.planet" [text]="true"></astro-item>
    </td>
  </tr>
</table>
