positions {
    h4 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    table {
        td {
            padding: 3px;
        }
        .planet-symbol {
            text-align: center;
        }
        .planet-text {
            text-align: left;
        }

        .planet-sign-degree {
            text-align: right;
        }
    }
}
