
<ion-header>
  <ion-navbar>
    <ion-title>Journal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <article *ngFor="let entry of entries" class="journal-entry">
    <timeline-event [event]="entry.event" [showDate]="true"></timeline-event>
    <div class="entry-details">
      <div class="entry-date"><span>Added {{ formatDate(entry.date) }}</span></div>
      <div *ngFor="let item of entry.items" class="entry-item entry-item-{{item.type}}">
        <div class="item-text item-content" *ngIf="item.type == 'text'">
          <p *ngFor='let paragraph of item.content.split("\n\n")'>{{ paragraph }}</p>
        </div>
        <div class="item-video item-content" *ngIf="item.type == 'video'">
          <video [src]="item.content" controls></video>
        </div>
        <div class="item-audio item-content" *ngIf="item.type == 'audio'">
          <audio [src]="item.content" controls></audio>
        </div>
        <div class="item-image item-content" *ngIf="item.type == 'image'">
          <img [src]="item.content" />
        </div>
      </div>
    </div>
  </article>
</ion-content>
