
page-journal {

  .scroll-content {
    background: rgba(0, 0, 0, 0.04);
  }

  article.journal-entry {

    display: flex;
    flex-direction: column;
    margin: 8px;

    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    timeline-event article.timeline-event {
      background: rgba(0, 0, 0, 0.03);
      margin: 0;
      padding: 1em;
    }

    .entry-details {
      padding: 4px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .entry-date {
        font-weight: 700;
        min-height: 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 4px;
        padding: 0 0.5em;
        border-radius: 4px;
      }

      .entry-item {
        &.entry-item-text {
          font-family: Georgia, 'Times New Roman', Times, serif;
        }

        &.entry-item-image {
          max-width: 100%;
          .item-content img {
            width: 100%;
            height: auto;
          }
        }

        &.entry-item-video, &.entry-item-audio {
          max-width: 100%;
          video, audio {
            width: 100%;
          }
        }
      }
    }
  }


}