
<ion-header>
  <ion-navbar>
    <ion-title>New Journal Entry</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <timeline-event [event]="event" [showDate]="true"></timeline-event>

  <section class="entry-actions">
    <article class="entry-action image" (click)="addEntry('image')">
      <ion-icon name="camera"></ion-icon>
      <span>Photo</span>
    </article>
    <article class="entry-action video" (click)="addEntry('video')">
      <ion-icon name="videocam"></ion-icon>
      <span>Video</span>
    </article>
    <article class="entry-action audio" (click)="addEntry('audio')">
      <ion-icon name="microphone"></ion-icon>
      <span>Audio</span>
    </article>
    <article class="entry-action text" (click)="addEntry('text')">
      <ion-icon name="text"></ion-icon>
      <span>Text</span>
    </article>
  </section>

  <section class="new-entry-thumbnails" *ngIf="entry">
    <div class="new-entry-thumbnail" *ngFor="let item of entry.items">
      <span *ngIf="item.type === 'text'">{{ item.content }}</span>
      <span *ngIf="item.type === 'audio'"><ion-icon name="microphone"></ion-icon></span>
      <span *ngIf="item.type === 'video'"><ion-icon name="videocam"></ion-icon></span>
      <span *ngIf="item.type === 'image'"><ion-icon name="image"></ion-icon></span>
    </div>
  </section>
</ion-content>
