page-journal-add {

  .scroll-content {
    display: flex;
    flex-direction: column;

    .entry-actions {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  timeline-event article.timeline-event {
    background: rgba(0, 0, 0, 0.03);
    margin: 0;
    padding: 1em;
  }

  .entry-actions {
    flex-direction: row;
    display: flex;
    justify-content: space-around;

    .entry-action {
      flex-grow: 1;
      text-align: center;
      cursor: pointer;

      ion-icon {
        font-size: 4em;
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}