page-home {

  $phase-width: 4px;
  $center-width: 4px;
  // reuse the sequential events style for home list.
  // use an elliptical border-radius for right, "pointing" toward center timeline.
  // descriptive text goes further tot he left, outside the box, wrapped onto two lines.

  date-select {
    width: 100%;
  }

  section.timeline {
    
    position: relative;
    animation: fade-in 1s ease-out;

    .moon-image, .sun-image {
      position: absolute;
      bottom: 4px;
    }

    .timeline-line {
      left: calc(50% - #{$center-width / 2});
      width: $center-width;
      background: rgba(0, 0, 0, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 4;
    }

    .timeline-day {
      position: relative;
      display: flex;
      flex-direction: column;
      background: hsl(0, 0%, 98%);

      .sun-area, .moon-area {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        // opacity: 0.5;
      }

      .sun-area { left: 0; }
      .moon-area { right: 0; }

      .phase-area {
        position: absolute;
        z-index: 5;
        right: 0;
        bottom: -4px;
        width: 50%;
        height: 4px;

        .area-left, .area-right {
          position: absolute;
          top: 0;
          bottom: 0;
        }
        .area-left { left: 0; }
        .area-right { right: 0; }
      }

      .timeline-day-header {
        position: sticky;
        top: 0;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        background: white;
        box-shadow: 0 0 9px rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: flex-start;
        z-index: 1;
        padding-top: 0.5em;

        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-top-width: 0.5px;
        border-top-style: solid;
        border-top-color: #DDD;

        .sign-degree {
          font-size: 12px;
        }

        .date, .positions {
          flex-basis: 0;
          padding: 0.25em 0.5em;
          font-family: 'Slabo 27px';
          font-size: 20px;
        }

        .date {
          flex-grow: 1;
        }
        .positions {
          flex-shrink: 0;
          display: flex;
          flex-direction: row;

          .day-sign {
            display: flex;
            margin-left: 1em;
          }
        }
      }

      .event-categories {
        display: flex;
        flex-direction: column;

        timeline-event.moon-event .event-time {
          color: gray;
        }
        timeline-event.planetary-event .event-time {
          color: rgb(192, 24, 24);
        }

        article.timeline-event {
          font-size: 1.1em;

        }

        .event-category {
          flex-basis: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          align-items: flex-start;
          flex-direction: row;

          padding-top: 0.72em;
          padding-bottom: 0.72em;

          &.planetary {
            justify-content: flex-start;
            align-content: flex-start;
            flex-direction: row;
            padding-right: calc(#{$center-width / 2} + 0.36em);
            background: rgba(255, 200, 0, 0.48);
          }
          
          &.moon {
            padding-right: $phase-width;
            padding-left: calc(#{$center-width / 2} + 0.36em);
            background: rgba(0, 0, 255, 0.48);
          }


        }
      }
    }

    .load-more-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .load-more-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0;
        padding: 8px;
        font-size: 1.2em;
      }
    }
  }

  .loading-events {

    &.with-events {
      position: absolute;
      top: 4px;
      right: 4px;
      opacity: 0.8;
    }
    
    &.without-events {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &.loading .no-natal-events {
        padding-top: 28px;
      }
      .no-natal-events {
        padding: 56px 20%;
        color: #999;
        text-align: center;

      }
    }
  }

  ion-header {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    animation: fade-in 1s ease-out;

    display: flex;
    ion-navbar {
      padding: 0 !important;
      align-items: stretch !important;
    }
    .toolbar-content {
      display: flex;
    }
  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
