<ion-header>
  <ion-navbar>
    <date-select [date]="selectedDate" (dateChanged)="onChangeDate($event)"></date-select>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="loading-events" [class.loading]="loading" [class.with-events]="allEvents && allEvents.length" [class.without-events]="!allEvents || allEvents.length === 0">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <div 
      (click)="loading = !loading" 
      class="no-natal-events"
      *ngIf="(allEvents !== null) && allEvents.length === 0 && eventType === 'natal'"
    >
      <div *ngIf="hasBirthData()">
        <p>
          Now that you have set your birth data, it takes an average of 2 minutes to calculate your natal calendar events.
          They will appear here as soon as they are available.
        </p>

        <div class="recalculate">
          <p>Taking longer than expected?</p>
          <button ion-button (click)="populateNatal()">Re-calculate Natal Events</button>
        </div>
      </div>
      <div *ngIf="!hasBirthData()">
        Please go to the Settings tab to enter your birth data. Once the information is entered,
        you will see how transiting planets are affecting your natal configuration on a daily basis
        by aspect or by entering a new natal house.
      </div>
    </div>
  </div>

  <section class="timeline" *ngIf="days && events">
    <div class="load-more-buttons">
      <div *ngIf="!loadingMore || loadingMore === 'month'" class="load-more-button month" (click)="loadNext('month', false)">
        <span *ngIf="!loadingMore">Last Month</span>
      </div>
      <div *ngIf="!loadingMore || loadingMore === 'year'" class="load-more-button year" (click)="loadNext('year', false)">
        <span *ngIf="!loadingMore">Last Year</span>
      </div>
    </div>

    <div class="timeline-day" *ngFor="let day of days" [attr.id]="day.date.format('YYYY-MM-DD')">
      <h3 class="timeline-day-header">
        <span class="date">
          <span>{{ day.date.format('dddd, MMMM D') }}</span>
          <span> • </span>
          <span>{{ getDateDescription(day.date, true) }}</span>
        </span>
        <span class="positions">
          <span class="day-sign">
            <span class="astrology-text">☉</span>
            <span>{{ day.sunDegree }}</span>
            <span class="astrology-text" [style.color]="day.sunColor">{{ day.sunSign}}</span>
          </span>
          <span class="day-sign">
            <span class="astrology-text">{{ day.phase.symbol }}</span>
            <span class="astrology-text" [style.color]="day.moonColor">{{ day.moonSign}}</span>
          </span>
        </span>
      </h3>
      <div class="event-categories planetary">
        <timeline-event class="planetary-event" *ngFor="let event of events.planetary[day.index]" [event]="event.event" (eventSelected)="eventSelected(event.event)"></timeline-event>
      </div>
      <hr />
      <div class="event-categories moon">
        <timeline-event class="moon-event" *ngFor="let event of events.moon[day.index]" [event]="event.event" (eventSelected)="eventSelected(event.event)"></timeline-event>
      </div>
    </div>
    <div class="load-more-buttons">
      <div *ngIf="!loadingMore || loadingMore === 'month'" class="load-more-button month" (click)="loadNext('month', true)">
        <span *ngIf="!loadingMore">Next Month</span>
      </div>
      <div *ngIf="!loadingMore || loadingMore === 'year'" class="load-more-button year" (click)="loadNext('year', true)">
        <span *ngIf="!loadingMore">Next Year</span>
      </div>
    </div>
  </section>

</ion-content>
