<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="notificationSettings && natalSettings">
    <ion-list-header>
      Enable/Disable All Notifications
    </ion-list-header>
    <ion-item>
      <ion-label>All Notifications</ion-label>
      <ion-toggle 
        [ngModel]="notificationSettings.all"
        (ngModelChange)="toggleEnabled($event, 'notifications', 'all', 'Enabling all notifications according to your other notification settings.', 'Disabling all notifications.')"
      ></ion-toggle>
    </ion-item>

    <ion-list-header>
      Celestial Notifications
    </ion-list-header>
    <ion-item>
      <ion-label>Planetary Events</ion-label>
      <ion-toggle
        [disabled]="!notificationSettings.all"
        [ngModel]="notificationSettings.planetary"
        (ngModelChange)="toggleEnabled($event, 'notifications', 'planetary', 'Enabling notifications of planetary events.', 'Disabling notifications of planeary events.')"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Moon Events</ion-label>
      <ion-toggle
        [disabled]="!notificationSettings.all"
        [ngModel]="notificationSettings.moon"
        (ngModelChange)="toggleEnabled($event, 'notifications', 'moon', 'Enabling notifications of moon events.', 'Disabling notifications of moon events.')"
      ></ion-toggle>
    </ion-item>

    <ion-list-header>
      Transits to Natal Notifications
    </ion-list-header>
    <ion-item>
      <ion-label>Planetary Natal Events</ion-label>
      <ion-toggle
        [disabled]="!notificationSettings.all"
        [ngModel]="notificationSettings.planetaryNatal"
        (ngModelChange)="toggleEnabled($event, 'notifications', 'planetaryNatal', 'Enabling notifications of planetary transits to natal planets.', 'Disabling notifications of planetary transits to natal planets.')"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Moon Natal Events</ion-label>
      <ion-toggle
        [disabled]="!notificationSettings.all"
        [ngModel]="notificationSettings.moonNatal"
        (ngModelChange)="toggleEnabled($event, 'notifications', 'moonNatal', 'Enabling notifications of the transiting moon with natal planets.', 'Disabling notifications of the transiting moon with natal planets.')"
      ></ion-toggle>
    </ion-item>

    <ion-list-header>Birth Place</ion-list-header>
    <ion-item>
      <ion-label>Birth Date and Time</ion-label>
      <ion-datetime
        displayFormat="MMM DD, YYYY h:mm a"
        pickerFormat=""
        [(ngModel)]="natalSettings.birthDate"
        (ngModelChange)="birthDateUpdated($event)"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Birth Place</ion-label>
      <ion-input type="text" [(ngModel)]="natalSettings.birthLocation" (input)="birthLocationUpdated($event)"></ion-input>
    </ion-item>
    <ion-item class="birth-location-details" *ngIf="natalSettings.birthLocation">
      <ion-thumbnail item-start *ngIf="birthLocationMap"><img [src]="birthLocationMap" /></ion-thumbnail>
      <h2>
        {{ natalSettings.correctedBirthLocation }}
      </h2>
      <p *ngIf="natalSettings.birthLatitude && natalSettings.birthLongitude">({{ formatCoordinate(natalSettings.birthLatitude, 'N', 'S') }}, {{ formatCoordinate(natalSettings.birthLongitude, 'E', 'W') }})</p>
      <p *ngIf="timezoneName">{{ timezoneName }} (GMT{{ timezoneOffset }})</p>
    </ion-item>

    <ion-item *ngIf="notificationMessages">
      <p>{{ notificationMessages }}</p>
    </ion-item>

  </ion-list>

</ion-content>