page-settings {

  ion-thumbnail > img {
    height: 180px !important;
    width: 180px !important;
    max-height: 25vw !important;
    max-width: 25vw !important;
    object-fit: cover;
    border-radius: 4px;
  }

  ion-label > h2, ion-label > p {
    white-space: normal !important;
  }
}