<ion-header>

  <ion-navbar>
    <ion-title>Charts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <zodiac *ngIf="planets" [positions]="planets" [houses]="houses" [transits]="transits"></zodiac>
</ion-content>