
$font-path: "../assets/fonts";

@font-face {
  font-family: "Syncopate";
  src: url("#{$font-path}/Syncopate/Syncopate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BioRhyme";
  src: url("#{$font-path}/BioRhyme/BioRhyme-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aclonica";
  src: url("#{$font-path}/Aclonica/Aclonica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSans";
  src: url("#{$font-path}/DejaVu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSansBold";
  src: url("#{$font-path}/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSerif";
  src: url("#{$font-path}/DejaVu/DejaVuSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Share";
  src: url("#{$font-path}/Share/Share-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Share";
  src: url("#{$font-path}/Share/Share-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxygen";
  src: url("#{$font-path}/Oxygen/Oxygen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("#{$font-path}/Oxygen/Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("#{$font-path}/Oxygen/Oxygen-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
