// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5fa170,
  secondary:  #607bb9,
  secondaryDark: #3c5186,
  danger:     #f53d3d,
  light:      #fff,
  offlight:   #e8e7ee,
  midlight:   #9896a0,
  dark:       #000,
  offdark:    #444
);



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


$background-color: color($colors, light);
$font-family-base: "Oxygen", sans-serif !default;

$toolbar-background: #edf0f7;
$list-background-color: $background-color;

$text-color: color($colors, dark);
$item-ios-divider-background: color($colors, offlight);
$item-md-divider-background: color($colors, offlight);

$item-ios-divider-color: color($colors, offdark);
$item-md-divider-color: color($colors, offdark);

$content-ios-outer-background: color($colors, offlight);
$content-md-outer-background: color($colors, offlight);

$card-ios-header-color: color($colors, offdark);
$card-md-header-color: color($colors, offdark);

$refresher-text-color: $text-color;
$refresher-icon-color: $text-color;

$toggle-ios-background-color-off: color($colors, offlight);
$toggle-md-background-color-off: color($colors, offlight);
$toggle-ios-handle-background-color: color($colors, light);
$toggle-ios-handle-background-color: color($colors, offlight);

$list-border-color: color($colors, secondary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "./fonts";
