
<article [attr.id]="event.databaseId" class="timeline-event" [class.has-planet-image]="!!getBackgroundImageCss(event)" (click)="eventSelected.emit(event)">

  <div class="event-time">{{ event.date.format(showDate ? 'LLL' : 'h:mm a') }}</div>

  <div *ngIf="event.planets.length >= 1" class="planet-image left" [style.background-image]="getBackgroundImageCss(event, 0)"></div>
  <div *ngIf="event.planets.length >= 2" class="planet-image right" [style.background-image]="getBackgroundImageCss(event, 1)"></div>
  <div *ngIf="getSymbol(event)" class="symbol-text astrology-text" [style.color]="getSymbolColor(event)"><span>{{ getSymbol(event) }}</span></div>

  <!-- <div class="event-title symbol">
    <astro-description [text]="false" [event]="event"></astro-description>
  </div> -->

  <div class="event-title text">
    <astro-description [text]="true" [event]="event"></astro-description>
  </div>
</article>
