
timeline-event {
  $item-height: 44px;
  $border: 4px;
  $image-border: 1px solid hsla(0, 0%, 30%, 0.3);

  article.timeline-event {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: center;

    .planet-image {
      border-radius: $item-height;
      height: $item-height;
      width: $item-height;
      min-height: $item-height;
      min-width: $item-height;
      background-size: cover;
      border: $image-border;

      &.right {
        margin-left: -$item-height / 3;
      }
    }

    .symbol-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $item-height;
      height: $item-height;
      min-width: $item-height;
      min-height: $item-height;
      background: hsla(240, 80%, 100%, 1);
      border: $image-border;
      border-radius: $item-height;
      margin-left: -$item-height / 3;

      span {
        font-size: $item-height * (2/3);
        // color: blue;
      }
    }

    margin: 4px;
    padding: 4px;
    
    .event-title {
      margin: 0 8px;
    }

    .event-time {
      color: #999;
      margin-right: 8px;
      text-align: right;
      min-width: 6em;
    }

    font-size: 12px;
  }
}