terms {
  .terms {
    display: flex;
    flex-direction: column;
    .term-column {
      flex: 1 1 auto;
      margin: 4px;
      display: flex;
      flex-direction: column;

      .term-title {
        text-align: center;
        padding: 0;
        margin: 0;
        font-weight: 400;
        flex-grow: 1;
        text-align: left;
      }

      .adjectives {
        max-height: 8em;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > div {
          margin: 1px 0.33em;

          &.fact { color: darkblue; }
          &.alias { color: darkgreen; }
          &.article { color: darkred; }
        }
      }
    }
  }
}