<div class="terms">
  <div class="term-column" *ngFor="let term of uniqueTerms">
    <div class="adjectives" *ngIf="adjectivesByTerm">
      <h5 class="term-title">{{ term }}</h5>
      <div class="adjective" *ngFor="let adjective of adjectivesByTerm[term]">{{ adjective }}</div>
      <div class="alias" *ngFor="let alias of aliasesByTerm[term]">a.k.a. {{ alias }}</div>
      <div class="fact" *ngFor="let fact of factsByTerm[term]">{{ fact }}</div>
      <div class="article" *ngFor="let article of articlesByTerm[term]">{{ article }}</div>
    </div>
  </div>
</div>