@media screen and (min-width: 768px) {
  retrograde-graph {
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

retrograde-graph {
  canvas {
    width: calc(100vw - 16px);
    height: 50vw;
    border-radius: 4px;
  }
}