// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-item-divider, ion-card-header, ion-title {
  font-family: Oxygen;
  font-weight: normal !important;
}

ion-nav-view {
  background-color: transparent;
}

body {
  font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.preloading-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.astrology-text {
  font-family: DejaVuSans !important;
  font-weight: 300 !important;
}

.astrology-text.earth { color: #d2691e; }
.astrology-text.fire { color: #ff0000; }
.astrology-text.water { color: #8fb3be; }
.astrology-text.air { color: #b8b800; }

ion-item-divider + button.item.item-block {
  .item-inner {
    border-bottom: none !important;
  }
}

/** Give card titles a bold look. */
ion-card {
  ion-card-header {
    font-weight: 700 !important;
    color: color($colors, offdark) !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', Oxygen, 'Helvetica Neue';
}
