
<ion-tabs>
    <ion-tab tabTitle="Transits" tabIcon="planet" [root]="tab1" [rootParams]="tab1Params"></ion-tab>
    <ion-tab tabTitle="Natal" tabIcon="egg" [root]="tab2" [rootParams]="tab2Params"></ion-tab>
    <ion-tab tabTitle="Charts" tabIcon="add-circle" [root]="tab4"></ion-tab>
    <ion-tab tabTitle="Journal" tabIcon="bookmarks" [root]="tab5" [rootParams]="tab5Params"></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="cog" [root]="tab3"></ion-tab>
</ion-tabs>
