sequential-events {
  section.event-timeline {
    // container rules
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: scroll;
    // height: 4em;
    // margin-left: 6px; // 8px - event margin of 2px = 6px
    position: relative;
    
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    article.event {
      &.selected {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        background: white;

        .date {
          font-weight: 500;
        }
      }

      // event placement and size
      flex-basis: 0;
      flex-grow: 1;
      min-width: 4em;
      text-align: center;
      margin: 0 2px;
      padding: 2px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // event styles
      background: rgba(255, 255, 255, 0.7);

      .date, .time {
        font-size: 12px;
      }

      .time {
        color: #888;
      }

      .date {
        color: #444;
      }
    }
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}