
<section class="event-timeline" [class.loaded]="events && events.length">
  <article
    *ngFor="let event of events"
    (click)="selectZodiacEvent(event)"
    class="event"
    [class.selected]="selectedEvent && event.databaseId === selectedEvent.databaseId"
  >
    <div class="description">
      <astro-description [event]="event"></astro-description>
    </div>
    <div class="date">{{ event.date.format('MMM D') }}</div>
    <div class="time">{{ event.date.format('h:mm a') }}</div>
  </article>
</section>
