
<span>
    <span *ngIf="planet" class="planet">
        <span class="astrology-text" *ngIf="utf8">{{ symbol(planet, 'planet') }}</span><sub *ngIf="utf8 && retrograde">r</sub><sub *ngIf="utf8 && direct">d</sub>
        <span class="astrology-plain" *ngIf="text">{{ planet }}</span> <span *ngIf="text && retrograde">Retrograde</span><span *ngIf="text && direct">Direct</span>
    </span>
    <span *ngIf="sign" class="sign">
        <span *ngIf="degree">{{ degree }}</span><span class="astrology-text {{ getElement(sign) }}" *ngIf="utf8">{{ symbol(sign, 'sign') }}</span><span *ngIf="utf8 && minute">{{ minute }}</span><span class="astrology-plain" *ngIf="text"> {{ sign }} </span>
        <span *ngIf="!utf8 && text && minute">{{ minute }}</span>
    </span>
    <span *ngIf="phase" class="phase">
        <span class="astrology-text" *ngIf="utf8">{{ symbol(phase, 'phase') }}</span>
        <span class="astrology-plain" *ngIf="text">{{ phase }} Moon</span>
    </span>
    <span *ngIf="aspect" class="aspect">
        <span class="astrology-text" *ngIf="utf8 && symbol(aspect, 'aspect') != aspect">{{ symbol(aspect, 'aspect') }}</span>
        <span class="astrology-plain" *ngIf="text">{{ aspect }}</span>
    </span>
    <span *ngIf="moon" class="moon">
        <span *ngIf="utf8 && moonEvent(moon, true) != moonEvent(moon, false)" class="astrology-text">{{ moonEvent(moon, true) }}</span>
        <span *ngIf="text || (utf8 && moonEvent(moon, true) == moonEvent(moon, false))" class="astrology-plain">{{ moonEvent(moon, false) }}</span>
    </span>
</span>
