<span>
    <!-- aspect events -->
    <span class="aspect-event" *ngIf="event && event.type == 'aspect'">
        <astro-item [text]="text" [retrograde]="data.retrograde" [planet]="data.planets[0].name"></astro-item>
        <astro-item [text]="text" [aspect]="data.aspect"></astro-item>
        <astro-item [text]="text" [retrograde]="data.retrograde" [planet]="data.planets[1].name"></astro-item>
    </span>
    <!-- sign events -->
    <span class="sign-event" *ngIf="event && event.type == 'sign'">
        <astro-item [text]="text" [planet]="data.planet" [retrograde]="data.retrograde"></astro-item>
        <span class="transition" *ngIf="text">enters</span><span class="transition" *ngIf="!text">→</span>
        <astro-item [text]="text" [sign]="data.sign"></astro-item>
    </span>
    <!-- retrograde events -->
    <span class="retrograde-event" *ngIf="event && event.type == 'retrograde'">
        <astro-item [text]="text" [planet]="data.planet" [retrograde]="data.retrograde" [direct]="!data.retrograde"></astro-item>
    </span>
    <!-- phase events -->
    <span class="phase-event" *ngIf="event && event.type == 'phase'">
        <astro-item [text]="text" [phase]="data.phase"></astro-item>
    </span>
    <!-- moon events -->
    <span class="moon-event" *ngIf="event && event.type == 'moon'">
        <astro-item [text]="text" planet="Moon"></astro-item>
        <span class="transition" *ngIf="text">reaches</span> <span class="transition" *ngIf="!text">→</span>
        <astro-item [text]="text" [moon]="data.event"></astro-item>
    </span>
    <!-- aspect natal events -->
    <span class="natal-event" *ngIf="event && event.type == 'natal' && event.data.event == 'aspect'">
        <astro-item [text]="text" [planet]="data.transitingPlanet.name"></astro-item>
        <astro-item [text]="text" [aspect]="getAspect(event)"></astro-item>
        <span *ngIf="text">Natal</span> <astro-item [text]="text" [planet]="data.natalPlanet.name"></astro-item>
    </span>
    <!-- aspect house events -->
    <span class="natal-event" *ngIf="event && event.type == 'natal' && data.event == 'house'">
        <astro-item [text]="text" [planet]="data.transitingPlanet.name"></astro-item>
        <span class="natal-house-number">{{ text ? ' enters natal house ' : ''}} {{ data.natalHouse }}</span>
    </span>
</span>
